h2 {
    border: solid;
    background-color: black;
    color: red;
    display: flex;
    justify-content: center;
    padding: 3px;
}

h3 {
    background-color: black;
    color: red;
    display: flex;
    justify-content: center;
}

li {
    padding: 0px 100px 0px 100px;
    /* list-style-type: none; */
}

#header{
    border: solid;
    border-radius: 3px;
    border-color: rgb(119, 139, 143);
    background-color: black;
    color: red;
    display: flex;
    font-family: 'Arvo', serif;
    font-size: 25px;
    justify-content: center;
    position: sticky;
    top: 0;
}

#model {
    display: flex;
    justify-content: center;
    padding-top: 10px;
}

#pageNav {
    background-color: red;
    color: red;
    display: flex;
    font-size: 25px;
    margin-top: 5px;
    justify-content: center;
    justify-content: space-around;
    text-decoration: none;  

}


#content {
    display: flex;
    justify-content: center; 
}

#navigation {
    display: flex;
    justify-content: center; 
    text-decoration: none;
    padding: 10px;
}

#footer {
    color: #545775;
}


.navImgInt {
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.navImgExt {
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.intPageImg {
    display: flex;
    justify-content: center;
    height: 50%;
    width: 75%;
}

.extPageImg {
    display: flex;
    justify-content: center;
    height: 50%;
    width: 75%;
}

.linq {
    border: solid;
    border-radius: 5px; 
    display: flex;
    justify-content: center;
    padding: 10px;
}