h3 {
    display: flex;
    justify-content: center;
}

#Header{
    border: solid;
    border-radius: 3px;
    border-color: rgb(119, 139, 143);
    background-color: #DBCFB0;
    color: #545775;
    display: flex;
    font-family: 'Arvo', serif;
    font-size: 50px;
    justify-content: center;
    position: sticky;
    top: 0;
}

#Navigation {
    color: #545775;
    display: flex;
    justify-content: center; 
    justify-content: space-around;
    text-decoration: none;
}

#Content {
    display: flex;
    justify-content: center; 
}

#Footer {
    color: #545775;
}

#Interior {
    background-color: rgb(119, 139, 143);
    width: 50vh;
}

#Exterior {
    background-color: rgb(119, 139, 143);
    width: 50vh;
}

.navImg {
    display: flex;
    justify-content: center;
    width: 90%;
}